<!-- 
<input type="date" id="birthday" name="birthday"[(ngModel)]="date">
<input type="text" [(ngModel)]="id">
<button (click)="ggg()">View</button>
<h2> LoanApplication List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>loanAppId</th>
            <th>custId</th>
            <th>loanAmt</th>
            <th>noOfYears</th>
            <th>purpose</th>
            <th>appStatus</th>
            <th>typeOfLoan</th>
            <th>loanAppDate</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{loanApplication.loanAppId}} </td>
            <td>{{loanApplication.custId}}</td>
            <td>{{loanApplication.loanAmt}}</td>
            <td>{{loanApplication.noOfYears}}</td>
            <td>{{loanApplication.purpose}}</td>
            <td>{{loanApplication.appStatus}}</td>
            <td>{{loanApplication.typeOfLoan}}</td>
            <td>{{loanApplication.loanAppDate}}</td>
            <td>{{loanApplication.status}}</td>
        </tr>
    </tbody>
</table> -->
