<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="bg-dark">
<div class="footer bg-dark">

    <footer class="bg-dark text-center text-lg-start text-white">
      <!-- Grid container -->
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">loanapplication.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
</div>
  <!-- End of .container -->