<div class="date">
<input type="date" id="birthday" name="birthday"[(ngModel)]="date">
<button (click)="getLoanApplication()">View</button>
</div>
<h2 [hidden]="loanApplication.length==0"> LoanApplication List</h2>
<table class = "table table-striped" border="2" [hidden]="loanApplication.length==0">
    <thead>
        <tr>
            <th>loanAppId</th>
            <th>custId</th>
            <th>loanAmt</th>
            <th>noOfYears</th>
            <th>purpose</th>
            <th>appStatus</th>
            <th>typeOfLoan</th>
            <th>loanAppDate</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let i of loanApplication">
            <td>{{i.loanAppId}} </td>
            <td>{{i.custId}}</td>
            <td>{{i.loanAmt}}</td>
            <td>{{i.noOfYears}}</td>
            <td>{{i.purpose}}</td>
            <td>{{i.appStatus}}</td>
            <td>{{i.typeOfLoan}}</td>
            <td>{{i.loanAppDate}}</td>
            <td>{{i.status}}</td>
        </tr>
    </tbody>
</table>
